.container{
    display: flex;
    gap:20px;
    margin-top:20px;
    justify-content: center;
}
.cartContainer{
    padding: 20px;
}
.cartContainer div:not(.subtotal){
    height: auto !important;
}
.cartContainer img{
    width: 100px !important;
}

.cartContainer h2,
.cartContainer h3{
    padding: 10px;
}
.cartContainer hr{
    margin: 10px;
}

.subtotal{
    padding: 20px;
    min-width:20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border: 1px solid rgb(193, 178, 178);
    background-color: rgb(241, 152, 152);
    border-radius: 5px;
}
.subtotal a{
    text-align: center;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.subtotal a:hover{
    background: var(--primary-shade);
}

.subtotal >div,
.subtotal span{
    display: flex;
    gap:20px;
}

@media screen and (max-width:968px){
    .container{flex-direction: column;
    order:1;}
    
}